<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="boardId">
    insert into board_table(boardWriter,boardTitle,boardContents,boardfileAttached,memberId)
        values (#{boardWriter},#{boardTitle},#{boardContents},#{boardfileAttached},#{memberId})
    </insert>
    <insert id="savefile" parameterType="board">
        insert into board_file_table(originalName,storedName,boardId)
        values (#{originalName},#{storedName},#{boardId})
    </insert>
    <select id="list" resultType="board">
        select * from board_table;
    </select>
    <select id="findbyId" parameterType="Long" resultType="board">
        select * from board_table where boardId=#{boardId}
    </select>
    <update id="hits" parameterType="Long">
        update board_table set boardHits=boardHits+1 where boardId=#{boardId}
    </update>
    <update id="update">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where boardId=#{boardId}
    </update>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table order by boardId desc limit #{start},#{Limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(boardId) from board_table
    </select>
</mapper>














