<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_table (memberEmail,memberPassword,memberName,memberMobile,member_fileAttached)
        values (#{memberEmail},#{memberPassword},#{memberName},#{memberMobile},#{fileAttached})
    </insert>
    <select id="emailCk" parameterType="String" resultType="String">
        select memberEmail from member_table where memberEmail=#{memberEmail};
    </select>
    <select id="login" parameterType="member" resultType="member">
        select memberEmail,memberPassword from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
</mapper>

